@charset "UTF-8";

body {
    background-color: cornsilk;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #3D030D;
}

#Principal {
    color: rgb(155, 127, 2);
    background-color: chocolate;
}

.basico {
    background-color: #3D030D;
    color: #B80926;
}

.intermediario {
    background-color: blue;
    color: aqua;

}

.avançado {
    background-color: chocolate;
    color: coral;
}

.destaque {
    background-color: crimson;
}